<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>

  <div class="center" *ngIf="!isUserLoggedIn()">
    <button (click)="login()" [disabled]="loginDisabled">Login</button>
    <button (click)="signup()">Sign Up</button>
  </div>

  <div class="center" *ngIf="isUserLoggedIn()">
    <h1>Welcome</h1>
    <h4> {{useremail()}}</h4>
    <button (click)="getValues()">Get Values</button>
    <button (click)="logout()">Logout</button>
  </div>

  <div *ngIf="values">
    <ul *ngFor="let value of values">
      <div>{{value}}</div>
    </ul>
  </div>

</div>

<router-outlet></router-outlet>
